/* Universal Selectors */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0
}

header {
    padding: 60px;
    text-align: left;
    text-decoration-color: turquoise;
    background-color: grey;
}

nav {
    text-align: right;
}
/* Element Selectors */

 h1 {
    color: turquoise;
}
 
 a {
     color: turquoise;
 }

 h2 {
     color: cornflowerblue;
 }

 p {
     color: black;
 }

 h3 {
     color: black;
 }

 img {
     position: absolute
     right: 0%;
 }
/* Class Selectors */

/* Container holding the image and the text */
.container {
    position: relative;
  }

  
  
  /* text in image */
  .text-block {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: turquoise;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
  }



/* Id Selectors */


















