/* Universal Selectors */


/* Element Selectors */

 h1 {
    color:grey;
}
 
 a {
     color: turquoise;
 }

 h2 {
     color: cornflowerblue;
 }
/* Class Selectors */


/* Id Selectors */


















